<%= form_for(inspo) do |f| %>
  <% if inspo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inspo.errors.count, "error") %> prohibited this inspo from being saved:</h2>

      <ul>
      <% inspo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_area :caption %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
