<p id="notice"><%= notice %></p>

<!-- INDEX PAGE HEADING -->
<div class="title_box">
  <p id="top_title">Share your</p>
  <h1 id="index_inspo">Inspo</h1>
</div>


<!-- IMAGE GALLERY -->
<table>
  <thead>
    <tr>
      <th id="vibe-line">VIBE-LINE</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @inspos.each do |inspo| %>
      <tr>
        <td><%= inspo.caption %></td>
        <td><%= image_tag inspo.image.url(:medium) %></td>
        <td><%= link_to 'Show', inspo %></td>
        <td><%= link_to 'Edit', edit_inspo_path(inspo) %></td>
        <td><%= link_to 'Destroy', inspo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspo', new_inspo_path, class:"btn btn-primary"%>
