<p id="notice"><%= notice %></p>

<div id="move-show-form">
 <%= image_tag @inspo.image.url(:medium) %>

<p>
  <strong>Caption:</strong>
  <%= @inspo.caption %>
</p>
</div>

<%= link_to 'Edit', edit_inspo_path(@inspo), class:'btn btn-default' %> |
<%= link_to 'Back', inspos_path, class:'btn btn-default' %>
