<p id="notice"><%= notice %></p>

<%= image_tag @inspo.image.url(:medium) %>

<p>
  <strong>Caption:</strong>
  <%= @inspo.caption %>
</p>

<%= link_to 'Edit', edit_inspo_path(@inspo) %> |
<%= link_to 'Back', inspos_path %>
